@use "@/scss/pages";
@use "@/scss/spacing";

.Filters {
  @include pages.layout;

  .button-container {
    display: flex;
    margin-top: spacing.$large;

    button {
      &:not(:last-child) {
        margin-right: spacing.$small;
      }
    }
  }
}
