@use "@/scss/spacing";

.pagination {
  margin: 0 !important;
}

.page-input {
  position: absolute !important;
  top: 100%;
  margin-top: spacing.$small;
  width: auto;
  background-color: #394b59;
}
