@use "@/scss/pages";
@use "@/scss/spacing";

$col-position: 1;
$col-name: 2;
$col-new-rating: 3;
$col-prev-rating: 4;
$col-rating-change: 5;
$col-wld: 6;

@mixin hide-column($col) {
  th:nth-child(#{$col}),
  td:nth-child(#{$col}) {
    display: none;
  }
}

@mixin unhide-column($col) {
  th:nth-child(#{$col}),
  td:nth-child(#{$col}) {
    display: table-cell;
  }
}

@mixin center-column($col) {
  th:nth-child(#{$col}),
  td:nth-child(#{$col}) {
    text-align: center;
  }
}

.Results {
  @include pages.layout;

  // W : L : D column should all be on one line
  th:nth-child(#{$col-wld}),
  td:nth-child(#{$col-wld}) {
    white-space: pre;
  }

  // Hide less important table cells at lower breakpoints
  @include hide-column($col-prev-rating);
  @include hide-column($col-rating-change);

  // Center numeric columns
  @include center-column($col-prev-rating);
  @include center-column($col-new-rating);
  @include center-column($col-rating-change);
  @include center-column($col-wld);

  // Unhide additional columns at larger breakpoints
  @media (min-width: 550px) {
    @include unhide-column($col-rating-change);
  }

  @media (min-width: 680px) {
    @include unhide-column($col-prev-rating);

    // All columns are visible, so hide the expand button
    .expand-button {
      display: none;
    }
  }

  // All columns should be visible if the table is expanded
  :global(.table-responsive) {
    @include unhide-column($col-rating-change);
    @include unhide-column($col-prev-rating);
  }
}

.button-container {
  button {
    margin: 0.25rem;
  }
}
