@use "@/scss/helpers";
@use "@/scss/lists";
@use "@/scss/spacing";

.Home {
  min-height: 100vh;
  display: grid;
  grid-template-columns: [home-start] 100% [home-end];
  grid-template-rows:
    [home-top header-top] auto[header-bottom
    nav-top] auto [nav-bottom
    report-top] max-content [report-bottom
    footer-top] max-content [footer-bottom home-bottom];
  flex-direction: column;
  align-items: center;
  justify-content: center;

  header {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: spacing.$default;
    align-items: center;

    svg {
      font-size: 4em;
      margin-bottom: spacing.$small;
    }
  }

  nav {
    width: 100%;
    margin-bottom: auto;
  }

  ul {
    @include lists.unstyled;
    display: flex;
    flex-direction: column;
  }

  li {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 510px;

    &:not(:last-child) {
      margin-bottom: spacing.$small;
    }
  }

  a,
  button {
    width: 100%;
  }

  footer {
    padding-bottom: spacing.$default;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: spacing.$small;

    a {
      font-size: helpers.pxToRem(18);
      width: auto;
    }
  }

  .report {
    margin-bottom: spacing.$default;
  }
}
