@use "./spacing";

// WCAG AA-compliancy for various font colors against Stash background color.
:root {
  --danger: #ff6b6b;
  --info: #8bf7ee;
  --success: #11b06e;
}

body {
  padding-top: 0;
  padding-bottom: 0;
}

.btn {
  &.disabled,
  &:disabled {
    opacity: 0.4;
  }
}

.form-group + .form-group {
  margin-top: spacing.$large;
}

code {
  color: var(--info);
}
.invalid-feedback {
  color: var(--danger);
}

table {
  th,
  td {
    vertical-align: middle !important;
    &:first-child {
      text-align: center;
    }
  }
}

.text-danger {
  color: var(--danger) !important;
}

.text-success {
  color: var(--success) !important;
}

.form-control:disabled,
.form-control[readonly] {
  opacity: 0.5;
}

.setting-section .setting {
  & > div:first-child {
    margin-right: 10px;
  }
  & > div:nth-child(2) {
    width: 150px;
    max-width: 100%;
  }
}
