@use "./spacing";

body {
  padding-top: 0;
}

.btn {
  &.disabled,
  &:disabled {
    opacity: 0.4;
  }
}

.form-group + .form-group {
  margin-top: spacing.$large;
}

// WCAG AA-compliancy for various font colors against Stash background color.
code {
  color: #8bf7ee;
}
.invalid-feedback {
  color: #e66969;
}

table {
  th,
  td {
    vertical-align: middle !important;
    &:first-child {
      text-align: center;
    }
  }
}
