@use "./spacing";

body {
  padding-top: 0;
}

.btn {
  &.disabled,
  &:disabled {
    opacity: 0.4;
  }
}

.form-group + .form-group {
  margin-top: spacing.$large;
}

// WCAG AA-compliancy for invalid feedback against Stash background color.
.invalid-feedback {
  color: #e66969;
}
